.container-input {
  display: flex;
  align-items: center;
  background: url(../../img/banner.png);
  width: 91%;
  height: 810px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px;
  justify-content: flex-start;
}
.container-input input {
  position: relative;
  top: 195px;
  left: 30px;
  width: 37%;
  padding: 30px;
  border-radius: 20px;
  border: none;
  font-size: 1.4em;
  color: rgb(109, 109, 109);
}
.pesquisar {
  position: relative;
  top: 195px;
  left: -50px;
  border: none;
  padding: 15px 18px;
  background-color: #c1dcdc;
  border-radius: 15px;
}
.pesquisar img {
  background-color: #c1dcdc;
}

.container-input input:focus {
  border: 3px outset #fff;
  outline: none;
  transition: 100ms;
}

.container-input input::placeholder {
  font-size: 1.05em;
}
