.title-container {
  margin: 50px;
  font-size: 1.7em;
  width: 55%;
}
.carrossel {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  background-color: #c1dcdc;
  color: #333;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  flex: 0 0 100%;
  width: 300px; /* Largura do card */
  padding: 45px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.315);
  transition: transform 0.3s ease;
  margin: 100px 25px 25%;
  overflow: hidden;
}
.card img {
  background-color: #c1dcdc;
  position: relative;
  top: 35px;
}
.card:hover {
    transform: scale(1.01);
    border: 2px solid #fff;
    transition: transform 0.3s ease;
}
.card p {
  background-color: #c1dcdc;
  width: 93%;
  font-size: 1.5em;
  text-align: left;
  margin: 0 auto;
  
  word-spacing: 4px;
}

.pessoa-container {
  background-color: #c1dcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 35px;
}
.classific {
  background-color: #c1dcdc;
  font-size: 1.5em;
  position: relative;
  right: 100px;
  display: flex;
  gap: 10px;
}
.classific span {
  background-color: #c1dcdc;
}
.classific svg {
  background-color: #c1dcdc;
  color: rgb(255, 238, 0);
}
.nome-container {
  background-color: #c1dcdc;
  position: relative;
  right: 400px;
}
.nome-container h4 {
  background-color: #c1dcdc;
  font-size: 1.7em;
  color: #fff;
  text-align: center;
}
.nome-container p {
  text-align: center;
  background-color: #c1dcdc;
}
