.navbar-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 55px 0px;
  margin: 0 auto;
}
.container-links img {
  width: 35%;
  object-fit: cover;
}
.container-links {
  display: flex;
  gap: 40px;
  width: 63%;
}
.container-links ul {
  display: flex;
  gap: 30px;
  font-size: 1.9em;
  align-items: center;
  width: 81%;
}
.container-links a {
  text-decoration: none;
  color: black;
}
.container-links a:hover {
  color: #c1dcdc;
}

.container-buttons {
  display: flex;
  gap: 20px;
  width: 15%;
  justify-content: space-between;
  align-items: center;
}
#cart {
  width: 50px;
  cursor: pointer;
}
#user {
  width: 35px;
  cursor: pointer;
}

.container-buttons button {
  border: none;
}
.login {
  display: flex;
  gap: 20px;
}
.login button{
  padding: 10px;
  background-color: #c1dcdc;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}