.navbar-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 55px 0px;
  margin: 0 auto;
}
.container-links img {
  width: 100%;
  object-fit: cover;
}
.container-links {
  display: flex;
  width: 25%;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 40px;
  width: 73%;
}
.menu ul {
  display: flex;
  gap: 30px;
  font-size: 1.9em;
  align-items: center;
  width: 81%;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: #c1dcdc;
}

.container-buttons {
  display: flex;
  gap: 20px;
  width: 13%;
  justify-content: space-between;
  align-items: center;
}
#cart {
  width: 50px;
  cursor: pointer;
}
#user {
  width: 35px;
  cursor: pointer;
}

.container-buttons button {
  border: none;
}
.login {
  display: flex;
  gap: 20px;
}
.login button {
  padding: 15px;
  background-color: #c1dcdc;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}


