.caixa-cate h1 {
  font-size: 2.9em;
  text-align: center;
  margin: 6% 0 0;
}
.caixa-cate h4 {
  font-size: 1.9em;
  font-weight: 200;
  text-align: center;
  margin: 20px 0 7%;
}
.ImgCate-container {
  background-color: #c1dcdc;
  padding: 50px 50px 10% 50px;
  display: flex;
  justify-content: space-evenly;
}
.Img-cates {
  background-color: #c1dcdc;
}
.Img-cates p {
  background-color: #c1dcdc;
  width: 20%;
}
.Img-cates img {
  background-color: #c1dcdc;
  width: 100%;
}
.Img-cates h2 {
  background-color: #c1dcdc;
  text-align: center;
  font-size: 1.7em;
}

.ImgCate1,
.ImgCate3 {
  position: relative;
  bottom: 100px;
}
.button-explore {
  display: flex;
  justify-content: center;
}
.caixa-cate a {
  text-decoration: none;
  background-color: #ffffff;
  font-size: 1.9em;
  color: black;
}
.caixa-cate svg {
  background-color: #ffffff;
  position: relative;
  top: 5px;
  left: 8px;
}
.caixa-cate a:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  color: #c1dcdc;
}

.caixa-cate a:hover svg {
  transform: translateX(4px);
  transition: transform 0.3s ease;
  color: #c1dcdc;
}
.caixa-cate a {
  border: none;
  border-radius: 20px;
  padding: 20px 40px;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  bottom: 130px;
}
