.card-container {
  display: flex;
  margin: 7% auto;
  width: 88%;
  justify-content: space-between;
}
.plantas-container {
  width: 25%;
}

.plantas-container h1 {
  font-size: 4.2em;
}
.plantas-container p {
  font-size: 1.9em;
  margin-bottom: 50px;
}


/* button */
.button-see svg {
  background-color: #c1dcdc;
  position: relative;
  top: 5px;
  left: 8px;
}


.button-see a:hover svg {
  transform: translateX(4px);
  transition: transform 0.3s ease;
  color: white;
}
.button-see a:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  color: white;
}
.button-see a {
  color: #000;
  text-decoration: none;
  font-size: 1.9em;
  border: none;
  border-radius: 20px;
  padding: 20px 40px;
  text-align: center;
  background-color: #c1dcdc;
  cursor: pointer;
}
/* button */
.container {
  width: 65%;
  display: flex;
}
.card-produtos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: grab;
  overflow: hidden;
}
.inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.item img {
  pointer-events: none;

}
.item h3 {
  font-size: 1.6em;
  width: 80%;
  margin: 10px 0;
}

.item p {
  font-size: 1.5em;
  color: #818181;
  width: 45%;
}

.item:hover h3 {
  transform: translateX(50px);
  transition: transform 0.5s ease;
}
.item:hover p {
  transform: translateX(80px);
  transition: transform 0.9s ease;
}
