/* Modal.css */

/* Estilos do Modal */
.modal-user {
  position: fixed;
  top: 0;
  right: -460px; /* Inicialmente fora da tela à direita */
  width: 450px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease; /* Transição suave */
  z-index: 1000;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Quando o modal estiver visível */
.modal-user.show {
  right: 0; /* Modal se move para a posição 0, aparecendo à direita */
}

/* Fundo da tela */
.modal-abrir {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; /* Inicialmente não visível */
}

/* Quando o modal estiver visível, o fundo aparece */
.modal-abrir.show {
  display: block;
}
.formulario {
  width: 95%;
}
.container-inputsCx {
  display: flex;
  flex-direction: column;
  gap: 30px;  
}
.container-inputsCx input {
  border: none;
  padding: 15px;
  border-bottom: 2px solid #acacac  ;
  color: #bcebeb;
}
.container-inputsCx input:focus {
  border-bottom: 4px solid #c1dcdc  ;
  outline: none;
}
.container-inputsCx input:focus::placeholder {
  color: #c1dcdc; /* Cor azul clara */
}
.buttoentrar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.buttoentrar button {
  border: none;
  padding: 10px 30px;
  background-color: #c1dcdc;
  color: #fff;
  border-radius: 15px;
  font-size: 1.2em;
}
